<h2 class="text-light">
    Hello and welcome to the fizzbuzz game
</h2>

<div class="container">
    <!-- Introduction -->
    <div class="row mt-3">
        <div class="col d-flex justify-content-center">
            Hello, welcome to the fizzBuzz game. In this game you will input a number into the search bar and then guess
            if it will return fizz, buzz, or fizzBuzz.
        </div>
    </div>
    <!-- Game rules -->
    <div class="row mt-3">
        <div class="col-6">
            <ul>
                <h2>Rules:</h2>
                <li>If a number is divisible by 3 then it will return fizz. </li>
                <li>If a number is divisible by 5 then it will return buzz.</li>
                <li>If a number is divisible by 15 then it returns fizzBuzz.</li>
                <li>You will have 60 seconds you try and guess what a number will return.</li>
                <li>Your final score will be added to the high score list if it is in the top 5 high score.</li>
            </ul>
        </div>
        <!-- Highscore list -->
        <div id="highscore" class="col-6">
            <ol id="highscoreList">
                <h2 class="text-light">High scores:</h2>
            </ol>
        </div>
    </div>
    <!-- Start game -->
    <div class="row mt-3">
        <div class="col-6 d-flex justify-content-center">
            <button id="startBtn" type="button" class="btn btn-light">Start Game</button>
        </div>
        <div id="timer" class="col-3 d-flex justify-content-center fw-bold fs-4"></div>
        <div id="score" class="col-3 d-flex justify-content-start fw-bold fs-4"></div>
    </div>
    <!-- User input -->
    <div class="row mt-3">
        <!-- Answer buttons -->
        <div class="col-6">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button id="fizzBtn" class="btn btn-light" type="button">Fizz</button>
                <button id="buzzBtn" class="btn btn-light" type="button">Buzz</button>
                <button id="fizzBuzzBtn" class="btn btn-light" type="button">fizzBuzz</button>
                <button id="nothingBtn" class="btn btn-light" type="button">Nothing</button>
            </div>
        </div>
        <!-- Render random number -->
        <div class="col-6 d-flex justify-content-center">
            <div id="numberInput" class="fw-bold fs-4 text-light"></div>
        </div>
    </div>
</div>